.book-link {
    color: black;
}

.card {
    width: 16rem;
}

.book-link:hover {
    text-shadow: 0 0 1px blue;
    color: black;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body {
    height: 10vw;
}

.card-img-top .not-found {
    object-fit: scale-down;
}

.card-body {
    height: 20vh;
}

.user-list-item :hover {
    cursor: pointer;
}

/*.user-tile-icon {*/
/*    border-radius: 50%;*/
/*    background-color: #4582ec;*/
/*}*/